# The pathes to the library third party libraries should be defined here
set(BOOST_ROOT "C:/k52/k52/boost_1_60_0")
set(FFTW3_ROOT "C:/k52/k52/libfftw3")
set(BOOST_LIBRARYDIR "C:/k52/k52/boost_1_60_0/lib32-msvc-14.0")

#This settings defines, what types of libraries will be build for k52
#Allowed values are:
#"Static" (default, if no or invalid setting is used)
#"Dynamic"
#However, "Dynamic" is not yet officially supported,
#because on Windows it requires significant code 
#refactoring according to http://www.cmake.org/Wiki/BuildingWinDLL
set(BUILD_K52_LIBRARY_TYPE "Static")
